@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --branco-primario: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --azul-botão: #167BF7;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #00030C;
    color: var(--branco-primario);
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.principal{
    background-image: url("../assets/Background.png");
    background-repeat: none;
    background-size: contain;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 50% 50%;
}

.container__titulo{
    font-weight: 700;
    font-size: 1.75rem;
}

.container__botao{
    display: block;
    background-color: var(--azul-botão);
    border-radius: 8px;
    /* width: 30%; */
    padding: 16px;
    color: var(--branco-primario);
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-primario);
}

.container__aviso{
    font-size: 0.75rem;
}