@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --branco-primario: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --azul-botão: #167BF7;
    --azul-botão-efeito: #81b3ff;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #00030C;
    color: var(--branco-primario);
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.principal{
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 50% 50%;
}

.container__caixa{
    margin: 0 6rem;
}

.container__titulo{
    font-weight: 700;
    font-size: 1.75rem;
}

.container__imagem{
    margin: 1rem 0 2rem 0;
}

.container__botao{
    display: block;
    background-color: var(--azul-botão);
    border-radius: 8px;
    padding: 16px;
    color: var(--branco-primario);
    font-size: 1rem;
    text-decoration: none;
    margin-bottom: 1rem;
}

.container__botao:hover{
    background-color: var(--azul-botão-efeito);
    color: #00030C;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-primario);
}

.container__aviso{
    font-size: 0.75rem;
}

.secundario{
    align-items: center;
    margin: 0 8rem;
}

.secundario__imagem{
    width: 80%;
}

.container__descricao{
    padding: 2.5rem;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0.35rem;
}

.descricao__texto{
    color: var(--cinza-secundario);
}

.secundario__botao{
    display: inline-block;
    /* width: 20%;
    text-align: center; */
    margin-top: 1.5rem;
}

.dispositivos{
    text-align: center;
    font-weight: 700;
}

.dispositivos__titulo{
    font-size: 3rem;
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 4rem 0 8rem 0;
}

.lista__item{
    font-size: 2rem;
}

.rodape{
    text-align: center;
    margin: 5rem 10rem;
}

.rodape__logo{
    margin-bottom: 2.5rem;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style-type: none;
}

.lista__link a{
    font-size: 1rem;
    color: var(--branco-primario);
    text-decoration: none;
}

.lista__link a:hover{
    color: var(--azul-botão)
}

.lista__link a:active{
    color: indigo;
}

.rodape__texto{
    font-size: 0.9rem;
    color: var(--cinza-secundario);
    margin: 2rem;
}